[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polars = "==0.20.2"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"
isort = "*"
mypy = "*"
mypy-extensions = "*"
pylint = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
